body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #add8e6; /* Warna biru muda */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
}

h1 {
    color: #4a4a4a;
}

.card {
    background-color: #f0f8ff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}